:root {
  --justify-normal: center;
  --width-content: 1650px;
}
img.icon {
  width: 14rem;
}
img.icon.half {
  width: 6rem;
}
img.icon.large {
  width: 18rem;
}

.rounded {
  border-radius: 1em;
}

.box {
  width: 16rem;
  margin: auto;
}

body {
  text-align: center;
}

input[type="text"] {
  text-align: center;
}

hr {
  margin: auto;
}
