:root {
  --justify-normal: center;
}
img.icon {
  width: 14rem;
}
img.icon.half {
  width: 6rem;
}
img.icon.large {
  width: 18rem;
}

.box {
  width: 16rem;
  margin: auto;
}

body {
  text-align: center;
}

input[type="text"] {
  text-align: center;
}
